:root {
   --font-family: "Roboto", sans-serif;
   --second-family: "Raleway", sans-serif;

   --primary-brand: #4d5ae5; /* iris */
   --pressed-btn: #404bbf; /* ocean */ 
   --dark: #2e2f42; /* navy-blue */
   --text: #434455; /* slate*/
   --light: #f4f4fd; /* cloud */
   --primary: #ffffff; /* white */
   --active-social: #31d0aa; /* green */

   --kubik: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
 }

html {
   box-sizing: border-box;
}


body {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.02em;
   line-height: 1.5;
   background-color: var(--primary);
   color: var(--text);
   cursor: default;
}
img {
   display: block;
}
textarea {
   resize: none;
}
.list {
   margin: 0;
   padding: 0;
   list-style: none;
}
.link {
   color: var(--dark); 
   text-decoration: none;
}
.section__title {
   margin-top: 0;
   margin-bottom: 72px;
   font-family: var(--font-family);
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.1;
}
.item-title {
   margin-top: 0;
   margin-bottom: 8px;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   color: var(--dark);
}
.item-text {
   margin-top: 0;
   margin-bottom: 0;
}
button{
   font-family: inherit;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
}
.visualli-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
.container {
   width: 1158px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
header {
   width: 100%;
   height: 75px;
   top: 0;
   left: 0;
   background-color: var(--primary);
   border-bottom: 2px solid #F9FCe7;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
      0px 1px 1px rgba(46, 47, 66, 0.16), 
      0px 1px 6px rgba(46, 47, 66, 0.08);
   }


/* -------------------------Main Page-------------------------------- */

/*--- Header ---*/
.main-nav {
   display: flex;
   align-items: center;
}
.logo {
   margin-right: 76px;
   font-family: var(--second-family);
   font-weight: 800;
   font-size: 18px;
   letter-spacing: 0.03em;
   line-height: 1.2;
   text-decoration: none;
   text-transform: uppercase;
}
.logo__web {
   color: var(--primary-brand);
}
.menu {
   display: flex;
}
.menu__item:not(:last-child) {
   margin-right: 40px;
}
.menu__item .link{ 
   display: block;
   padding-top: 24px;
   padding-bottom: 24px;
   font-weight: 500;
}
.current::after {
   content: '';
   display: inherit;
   transform: translateY(-0.5px);
   width: 100%;
   height: 4px;
   background: var(--pressed-btn);
   border-radius: 2px;
}
.adress {
   margin-left: auto;
}
.adress__list {
   display: flex;
}
.adress__list-item + .adress__list-item {
   margin-left: 40px;
}
.adress__list-item .link {
   font-style: normal;
   transition: color var(--kubik);
}
.adress__list-item .link:hover,
.adress__list-item .link:focus,
.menu__item .link:hover,
.menu__item .link:focus {
   color: var(--primary-brand);
}


/*--- hero ---*/
.hero {
   margin-bottom: 120px;
   text-align: center;
   background-color: var(--dark);
}
.overlay {
   /* max-width: 1440px; */
   height: 600px;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.hero-main {
   padding: 188px 0px;
}
.hero-title {
   margin-top: 0;
   margin-bottom: 48px;
   font-size: 56px;
   line-height: 60px;
   font-weight: 700;
   color: var(--primary);
}
.hero__btn {
   padding: 16px 32px;
   border-radius: 4px;
   border: none;
   background-color: var(--primary-brand);
   color: var(--primary);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   transition: background-color var(--kubik);
}
.hero__btn:hover,
.hero__btn:focus {
   background-color: var(--pressed-btn);
}

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.8);
   opacity: 1;
   transition: background-color var(--kubik);
}
.backdrop.is-hidden {
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
   transition: opacity var(--kubik), 
               visibility var(--kubik);
}
.backdrop.is-hidden .order-modal {
   transform: translate(-50%, -50%)  scale(0) rotate(0);
}
.order-modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)  scale(1) rotate(360deg);
   min-width: 408px;
   min-height: 584px;
   padding: 24px;
   background-color: var(--primary);
   border-radius: 4px;
   transition: transform var(--kubik);
}
.close-btn {
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 24px;
   margin-top: 24px;

   width: 24px;
   height: 24px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   background: #e6e9ff;
   border-radius: 50%;
}
.close-btn svg {
   position: absolute;
   top: 8px;
   right: 7px;
}
.close-btn:hover{
   background-color: var(--pressed-btn);
   fill: var(--light);
   border-color: var(--pressed-btn);
   transition: fill var(--kubik), background-color var(--kubik), border-color var(--kubik);
}
.order-title{
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   text-align: center;
   margin-top: 48px;
   margin-bottom: 16px;
}

.order-form {
   width: 360px;
   margin: 0 auto;
}
.form-field {
   position: relative;
   display: flex;
   flex-direction: column;
   margin-bottom: 8px;
}
.label-form {
   margin-bottom: 4px;
   color: #8e8f99;
}
.input-form {
   padding: 11px 16px 11px 38px;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   outline: 0;
}
.comment-form {
   height: 120px;
   padding: 8px 16px;
   margin-bottom: 7px;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   outline: 0;
}
.svg-form{
   position: absolute;
   top: 51%;
   left: 16px;
   fill: var(--dark);
}
.form-field:focus-within > .svg-form{
   fill: var(--primary-brand);
}
.form-field:focus-within > .input-form{
   border: 1px solid var(--primary-brand);
}
.form-field:focus-within > .comment-form{
   border: 1px solid var(--primary-brand);
}
.form-field-policy{
   margin-bottom: 24px;
}

.label-policy{
   display: flex;
   align-items: center;
   font-size: 12px;
   line-height: 14px;
}
.label-policy a{
   margin-left: 4px ;
}
.input-policy{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.checkbox-icon{
   content: '';
   display: inline-block;
   width: 16px;
   height: 16px;
   border-radius: 2px;
   border: 1px solid #8e8f99;
   margin-right: 8px;
}
.input-policy:checked + .checkbox-icon{
   background-color: var(--pressed-btn);
   background-image: url('../images/checkbox.svg');
   background-size: contain;
   background-origin: border-box;
   border-color: var(--pressed-btn);
}
.form__btn{
   width: 169px;
   padding: 16px 32px;
   border-radius: 4px;
   /* margin-left: 96px; */
   transform: translateX(55%);
   border: none;
   background-color: var(--primary-brand);
   color: var(--primary);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   transition: background-color var(--kubik);
}
.form__btn:hover,
.form__btn:focus {
   background-color: var(--pressed-btn);
}

/*--- Advantages ---*/
.advantages {
   margin-bottom: 120px;
}
.advantages__list {
   display: flex;
   gap: 24px;
}
.advantages__list-item {
   width: 264px;
}
.advantages-link-icon {
   text-align: center;
   padding-top: 24px;
   margin-bottom: 8px;
   padding-bottom: 24px;
   background-color: var(--light);
}


/*--- Gadjets ---*/
.gadjets {
   margin-bottom: 120px;
}
.gadjets__imgs {
   display: flex;
   justify-content: space-between;
} 


/*--- Team ---*/
.team {
   padding: 120px 0px;
   background-color: var(--light);
}
.team__list {
   display: flex;
   gap: 24px;
}
.team__list-item {
   width: 264px;
   text-align: center;
   background-color: var(--primary);
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
      0px 1px 1px rgba(46, 47, 66, 0.16), 
      0px 1px 6px rgba(46, 47, 66, 0.08);
}
.social-list-team {
   display: flex;
   margin-top: 8px;
   margin-bottom: 32px;
}
.team-link {
   cursor: pointer;
   transition: background-color var(--kubik);
}
.team-link:hover,
.team-link:focus{
   background-color: var(--pressed-btn);
}
.link-icon-team {
   margin-top: 11px;
}
.item-descr-team {
   padding-top: 32px;
}

/* --- Customers --- */
.customers {
   padding: 120px 0px;
}
.customers-list {
   display: flex;
   gap: 24px;
}
.customers-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 168px;
   height: 88px;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   fill: #8e8f99;
   cursor: pointer;
   transition: fill var(--kubik);
}

.customers-svg {
   width: 104px;
   height: 56px;
   fill: #8e8f99;
   transition: fill var(--kubik);
}

.customers-link:is(:hover, :focus) {
   border-color: var(--pressed-btn);
}
.customers-link:is(:hover, :focus) .customers-svg {
   fill: var(--pressed-btn);
}



/* Footer */
footer {
   padding: 100px 0px;
   background-color: var(--dark);
   color: var(--primary);
}
.footer-main {
   display: flex;
}
footer .logo {
   color: var(--light);
}
.footer-logodescr {
   width: 264px;
   margin-right: 120px;
}
.footer-text {
   margin-top: 16px;
}
.social-title {
   color: var(--primary);
   margin-bottom: 16px;
   font-size: 16px;
}
.social-list-footer {
   display: flex;
}
.social-link {
   display: inline-block;
   text-align: center;
   margin: auto;
   width: 40px;
   height: 40px;
   background-color: var(--primary-brand);
   border-radius: 50%;
}
.footer-link {
   transition: background-color var(--kubik);
}
.footer-link:hover,
.footer-link:focus {
   background-color: var(--active-social);
}
.footer-link:not(:last-child) {
   margin-right: 16px;
}
.link-icon {
   margin-top: 7px;
}
.subform {
   margin-left: 80px;
}
.subtitle{
   color: var(--primary);
   margin-bottom: 16px;
   font-size: 16px;
}
.form-field-sub{
   position: relative;
}
.input-sub{
   width: 264px;
   padding: 8px 16px;
   border-radius: 4px;
   margin-right: 24px;
   background-color: transparent;
   outline: 0;
   border: 1px solid var(--primary);
   color: var(--primary);
} 
.label-sub{
   position: absolute;
   top: 37%;
   left: 16px;
   font-size: 12px;
   letter-spacing: 0.04em;
}
.input-sub:focus + .label-sub {
   visibility: hidden;
}
.sub-btn{
   padding: 8px 24px;
   background-color: var(--primary-brand);
   border-radius: 4px;
   border: none;
   color: var(--primary);
   transition: background-color var(--kubik);
}
.sub-btn:is(:hover, :focus){
   background-color: var(--pressed-btn);
}
.sub-icon{
   margin-left: 9px;
   transform: translateY(23%);
}
/* -------------------------Portfolio---------------------------- */

.portfolio__filters {
   margin-bottom: 72px;
   padding-top: 96px;
   text-align: center;
}
.portfolio__btn {
   padding: 12px 24px;
   color: var(--primary-brand);
   background-color: var(--light);
   border: 1px solid #0e21d9;
   border-radius: 4px;
   transition: box-shadow var(--kubik);
   transition: background-color var(--kubik);
}
.portfolio__btn:not(:last-child) {
   margin-right: 24px;
}
.portfolio__btn:hover,
.portfolio__btn:focus {
   color: var(--primary);
   background-color: var(--pressed-btn);
   border: 1px solid transparent;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.portfolio__works {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 120px;
   cursor: pointer;
}
.portfolio__works-item {
   width: calc((100%  - 48px) / 3);
   border:1px solid #e7e9fc;
   transition: box-shadow var(--kubik);
}
.portfolio__works-item {
   margin-right: 24px;
   margin-bottom: 48px;
}
.portfolio__works-item:nth-child(3n) {
   margin-right: 0;
}
.portfolio__works-item:nth-last-child(-n + 3) {
   margin-bottom: 0;
}
.portfolio__works-item:hover,
.portfolio__works-item:focus {
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
   0px 1px 1px rgba(46, 47, 66, 0.16), 
   0px 1px 6px rgba(46, 47, 66, 0.08);
}
.work-descr {
   overflow: hidden;
   position: relative;
}
.img-text {
   position: absolute;
   top: 0;
   left: 0;
   margin: 0; 
   padding-top: 40px;
   padding-left: 32px;
   padding-right: 32px;
   width: 360px;
   background-color: var(--primary-brand);
   color: #ffffff;
   line-height: 1.5;
   opacity: 0;
   transform: translate(0%,100%);
   transition: transform var(--kubik);
}
.portfolio__works-item:hover .img-text,
.portfolio__works-item:focus .img-text {
   opacity: 1;
   transform: translateY(0%);
   height: 100%;
}
.item-descr-portfolio {
   margin-top: 32px;
   margin-bottom: 32px;
   padding-left: 16px;
}